# Compiled Object files
Debug/
Release/
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project files
*.vcproj
*.vcxproj
*.sln
*.user
*.filters
*.suo
*.ncb
*.ipch
*.sdf
*.opensdf

# CMake temporaries
CMakeFiles/
*.cmake
CMakeCache.txt